
#include "errmsg.h"

#define RLE_ENGLISH 0

STRINGTABLE
BEGIN

#undef pick
#define pick( code, string_eng, string_jap )  \
        (code+RLE_ENGLISH*MSG_LANG_SPACING), string_eng

    #include "jwasm.msg"

#undef pick

END
